{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block description %}Consultez la liste des articles sur la santé, le bien être{% endblock %}

{% block keywords %}Blog, Liste des articles, Médecine, Jean Dupont, Accueil{% endblock %}

{% block Main %}

<h1 class="text-center my-3 display-5">Liste des articles</h1>

{% endblock %}